*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole debug tag  */

#app{
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

ul,
ol,
menu {
  list-style: none;
}

.gap{
  gap: 10px;
}

/* color palette*/

:root {
  --light-black: #141922;
  --dark-black:#080B12;
  --white: #FFFFFF;

}

/* main */
.app-content {
  flex-grow: 1;
  overflow: auto;
  border: 1px solid red;
  display: flex;
}

.sidebar{
  width: 50px;
  border: 1px solid red;
}

.main-content{
  flex-grow: 1;
  background-color: var(--dark-black);
}

/* footer */

  .app-toolbar {
    background-color: var(--light-black);
    height: auto;
    display: flex;
    justify-content: space-between;
  }

/* parte toolbar sinistra con album canzone */
  .container-song-small{
    display: flex;
    align-items: center;
    width: 225px;
  }
  

  .img-album-song{
    width: 50px;
    max-width: 100px;
  }

  .song-details{
    color: white;
    padding-left: 10px;
    padding-right: 40px;
  }

  .list-song-name{
    color: rgba(255, 255, 255, 0.375);
  }

  .song-title{
    color: white;
    font-size: 20px;    
    font-weight: 500;
  }

  .fa-heart{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.376);
  }

  .fa-folder{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.454);
  }

  /* parte centrale timeline   */
  .container-playline{
    color: white;
    width: 50%;
  }

  .icons-playsong{
    padding: 15px;
  }

  .list-icons-playline{
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .list-item-icon{
    font-size: 30px;
  }

  .player{
    padding: 15px;
  }

  .playerbar-container{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .time{
    width: 25px;
  }

  .slide-container{
    flex-grow: 1;
    position: relative;
   
  }
  
  .gray-line{
    background-color: rgba(156, 64, 64, 0.56);
    padding: 3px; 
    border-radius: 15px;
  }

  .white-line{
    background-color: rgba(219, 219, 219, 0.958);
    position: absolute;
    padding: 3px;
    width: 25%;
    border-radius: 20px;
  }


  /* parte destra volume canzone  */
.icon-volume{
  display: flex;
  gap: 10px;
  font-size: 20px;
  color: white;
  padding-right: 10px;
}

.volume-slide{
  display: flex;
  width: 220px;
  align-items: center;
  padding-right: 20px;
}

/* media query  */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .sidebar{
    width: 230px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

 }