*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole debug tag  */

#app{
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

ul,
ol,
menu {
  list-style: none;
}

.gap{
  gap: 10px;
}

/* color palette*/

:root {
  --light-black: #141922;
  --dark-black:#080B12;
  --white: #FFFFFF;

}

/* main */
.app-content {
  flex-grow: 1;
  overflow: auto;
  border: 1px solid red;
  display: flex;
}

.sidebar{
  width: 50px;
  border: 1px solid red;
}

.main-content{
  flex-grow: 1;
  background-color: var(--dark-black);
}

/* footer */

  .app-toolbar {
    background-color: var(--light-black);
    height: auto;
    border: 1px solid blue;
    padding: 20px 0 20px 10px;
    display: flex;
    justify-content: space-between;
  }


  .container-song-small{
    border: 1px solid orange;
    width: 100px;
    min-height: 50px;
    display: flex;
  }

  .img-album-song{
    width: 50px;
    max-width: 100px;
  }

  .container-playline{
    border: 1px solid pink;
    width: 200px;
    min-height: 50px;
  }

/* media query  */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .sidebar{
    width: 230px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

 }